<ion-view title="Sign up" hide-nav-bar="true">
<ion-content class="has-header signup-page" has-tabs="false">
<span class="full">
    <img class="logo" src="./img/rem.png">
    </span>
  <div class="list list-inset">
  <label class="item item-input">
    <input type="text" ng-model="user.email" placeholder="Email">
  </label>
  <label class="item item-input">
    <input type="password" ng-model="user.password" placeholder="Password">
  </label>
  <label class="item item-input">
    <input type="password" ng-model="user.conPassword" placeholder="Confirm Password">
  </label>
   <button class="button button-block soothe-btn" ng-click="addUser()">
	Sign Up</i></button>
	</label>
</div>
</div>
</ion-content>
</ion-view>