
<ion-view title="Sign In">
<ion-content class="has-header padding" has-tabs="false">
	
	<span class="full">
    <img class="logo" ng-src="./img/rem.png">
    </span>

  <div class="list list-inset">
  <label class="item item-input">
    <input type="text" ng-model="user.email" placeholder="Email">
  </label>
  <label class="item item-input">
    <input type="password" ng-model="user.password" placeholder="Password">
  </label>
   <button class="button button-block button-positive" ng-click="validateUser()">
	Log In <i class="ion-arrow-right-c"></i></button>
	</label>
</div>
</ion-content>
</ion-view>