<div id="task-view" class="modal slide-in-up" ng-controller="newNotesCtrl">
<header class="bar bar-header bar-positive">
	<h1 class="title">New Notes</h1>
	<button class="button button-clear button-primary" ng-click="close()">Done</button>
	<button class="button button-clear button-primary" ng-click="close()">Close</button>
	</header>
	<ion-content class="padding has-header">
		<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Title">
  </label>
  <br/>
  <label class="item item-input">
    <textarea placeholder="Notes...."></textarea>
  </label>
  <button class="button-positive button-block button">Post</button>
</div>
	</ion-content>
	</div>
