<ion-view title="Update">
    <ion-content has-tabs="false" class="padding">
        <form ng-submit="updateNote(note)" name="addForm" ng-controller="updateNotesCtrl">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Title" ng-model="note.title" required>
                </label>
                <br/>
                <label class="item item-input">
                    <textarea rows="6" placeholder="Notes...." ng-model="note.post" required></textarea>
                </label>
                <div class="row">
                    <button type="submit" class="button-positive button-block button col col-33">Update<i class="ion-paper-airplane margin"></i>
                    </button>
                    <a href="#/tab/notes" class="button-positive button-block button col-33 col-offset-33">Cancel</a>

                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
