<!--  <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">My Notes</h1>
      </ion-header-bar>
 <ion-tab title="Notes" icon-on="ion-ios7-compose" 
          icon-off="ion-ios7-compose-outline" href="#">
          <ion-nav-view name="notes"></ion-nav-view>
       </ion-tab> -->

       <script id="notes.html" type="text/ng-templates">
      <ion-view title="My Notes">
        <ion-content>
          <div class="card">
  					<div class="item item-text-wrap">
    					This is notes
					  </div>
				</div>
          </ion-content>
        </ion-view>
      </script>