
      <ion-view title="My Notes">
        <ion-content>
         <ion-list>
            <ion-item ng-repeat="note in notes" type="item-text-wrap">
          <div class="card">
            <div class="item item-divider">
              {{note.title}}
            </div>
            <div class="item item-text-wrap">
          
            {{note.post | limitTo: 140}} <a href="#/tab/notes/{{note.id}}"> More..</a>
            </div>
            </ion-item>
           </ion-list>
          </ion-content>
        </ion-view>
