<ion-view title="My Favorite Pictures">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="upload()">
            Upload
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
    <ion-content>

        <div ng-show="noImage" class="card">
            <div class="item item-text-wrap">
                <span class="message-note">
                    <p>No Pictures!! . Upload new image by using Upload button!!!</p>
                </span>
            </div>
        </div>
        <ion-list>
            <ion-item ng-repeat="image in images track by $index" type="item-text-wrap">
                <div class="card">
                    <div class="item item-image">
                        <div class="row">
                            <div class="col">
                                <img ng-src="{{image.image}}">
                            </div>
                        </div>
                        <span class="posted-image">Posted on: {{image.created | date: format}}</span>
                        <i class="ion-android-trash icon-actions margin" ng-click="deleteImage('{{image.key}}')"></i>
                    </div>
                </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
