<ion-view title="Remember Me">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <h1>
                    Welcome to Remember Me, an app for self soothing.
                </h1>
            </div>
        </div>
        <div class="list">
            <a class="item item-icon-left item-icon-right" href="#/tab/notes">
                <i class="icon ion-ios7-compose"></i>
                My Favourite Notes<i class="icon icon-right ion-chevron-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/pictures">
                <i class="icon ion-android-image"></i>
                My Favourite Pictures<i class="icon icon-right ion-chevron-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/messages">
                <i class="icon ion-ios7-paper"></i>
                Motivational Messages<i class="icon icon-right ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
