
      <ion-view title="My Notes">
       <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="newNotes()">
           New
            </button>
          </ion-nav-buttons>
        <ion-content>
         <ion-list>
            <ion-item ng-repeat="note in notes" type="item-text-wrap">
          <div class="card">
            <div class="item item-divider">
              {{note.title}}
            </div>
            <div class="item item-text-wrap">
            
            {{note.post | limitTo: 140}} <a href="#/tab/note/{{note.id}}">
        <!-- make the icon on the right -->
             <br/>More..</a>
            <i class="ion-checkmark-circled icon-actions margin" ng-click=""></i>
            <i class="ion-trash-b icon-actions margin" ng-click=""></i>
            </div>
            </ion-item>
           </ion-list>
          </ion-content>
        </ion-view>
