      <ion-tabs class="tabs-icon-top tabs-positive">
        <!-- Tab for Home-->
        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="tab-home"></ion-nav-view>
        </ion-tab>
      
        <!-- Tab for Notes -->
        <ion-tab title="Notes" icon="ion-ios7-compose" href="#/tab/notes">
          <ion-nav-view name="tab-notes"></ion-nav-view>
        </ion-tab>

        <!-- Tab for Picutres -->
        <ion-tab title="Pictures" icon="ion-ios7-camera" href="#/tab/pictures">
          <ion-nav-view name="tab-pictures"></ion-nav-view>
        </ion-tab>

        <!-- Tab for Messages -->
        <ion-tab title="Messages" icon="ion-ios7-paper" href="#/tab/messages">
          <ion-nav-view name="tab-messages"></ion-nav-view>
        </ion-tab>
      </ion-tabs>