      <ion-tabs class="tabs-icon-top tabs-positive">
        <!-- Tab for Home-->
        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>
      
        <!-- Tab for Notes -->
        <ion-tab title="Notes" icon="ion-ios7-compose" ui-sref="tabs.notes">
          <ion-nav-view name="notes-tab"></ion-nav-view>
        </ion-tab>

        <!-- Tab for Picutres -->
        <ion-tab title="Pictures" icon="ion-ios7-camera" ui-sref="tabs.pictures">
          <ion-nav-view name="pictures-tab"></ion-nav-view>
        </ion-tab>

        <!-- Tab for Messages -->
        <ion-tab title="Messages" icon="ion-ios7-paper" ui-sref="tabs.messages">
          <ion-nav-view name="messages-tab"></ion-nav-view>
        </ion-tab>
      </ion-tabs>