<div id="task-view" class="modal slide-in-up" ng-controller="uploadCtrl">
    <header class="bar bar-header bar-positive">
        <h1 class="title">New Picture</h1>
        <button class="button button-clear button-primary" ng-click="close()">Close</button>
    </header>
    <ion-content class="padding has-header">
        <div class="row">
            <button class="button-positive button-block button col col-33" ng-click="PhotoLibrary()">Picture <i class="ion-android-image"></i>
            </button>
            <button class="button-positive button-block button col col-offset-33" ng-click="getPhoto()">Camera <i class="ion-android-camera"></i>
            </button>
        </div>

        <div class="card picture-container">
            <div class="item item-image">
                <div class="row">
                    <div class="col">
                        <div class="image-container" ng-show="imageURI">
                            <img id="smallimage" ng-src="{{imageURI}}" style="width:100%" />
                        </div>
                        <span class="message-note" ng-hide="imageURI">
                            <p>No image selected!!</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <button ng-click="UploadPicture()" class="button-positive button-block button" ng-disabled="!imageURI">Upload<i class="ion-paper-airplane margin"></i>
        </button>

        <!-- <img src="#" id="myImage"/> -->
    </ion-content>
</div>
