<div id="task-view" class="modal slide-in-up" ng-controller="uploadCtrl">
<header class="bar bar-header bar-positive">
	<h1 class="title">New Picture</h1>
	<button class="button button-clear button-primary" ng-click="close()">Close</button>
	</header>
	<ion-content class="padding has-header">
	<form ng-submit="postImg(img)" name="addForm" ng-controller="uploadCtrl">
		<div class="list">
		  <label class="item item-input">
		    <input type="file" accept="image/*" capture="camera" id="file-upload" ng-model="img.title" required>
		  </label>
		  <br/>
		  <div class="row">
		  <button type="submit" class="button-positive button-block button col col-33" ng-disabled="addForm.$invalid">Upload<i class="ion-paper-airplane margin"></i></button>
		   <button type="reset" class="button-positive button-block button col-33 col-offset-33">Reset</button>
		   </div>
		</div>
	</form>
	</ion-content>
	</div>