/* Empty. Add your own CSS if you like */

a { 
	text-decoration: none;
}
.margin {
	position: relative;
	margin-left: 9px;
	margin-right: 9px;
}
.side{
	margin-left: -10px;
}

div.col i{
	float:right;
	margin-right:-5px;
}
.ion-android-trash{
	float:right;
	margin-right:10px;
}
div.col a.ion-edit {
	margin-left: 15px;
}
.message-note{
	background-color:#999999;
	display:table-cell;
	width:340px;
	height:220px;
	vertical-align: middle;
	font-weight:bold;
	}

.message-note p {
	color: #ffffff;
	margin:0 10px 0 10px;
	text-align:center;
	}

.item-divider {
	background-color: #2E8ED1 !important;
	color: #fff !important;
}

.item {
	background-color: #F2F2F2;
	color: #000;
}

div.item.item-image{
	background-color:#fff;
}
.posted, .posted-image {
	font-style: italic;
	display:block;
	padding-bottom: 12px;
} 
.posted-image {
	float:left;
	margin-left:10px;
	font-weight: bold; 
}
.col, .col a, .posted, .posted-image, .ion-android-trash{
	color:#04856B;
}

div.item.item-text-wrap.ng-binding, label.item.item-input, div.item{
	background-color: #fff;
}

.qoute { 
	font-size: 1em !important;
	line-height: 1.5em;
	color: #000000 !important;
	
}

.qoute:before, .qoute:after {
	font-size: 25px;
}

.qoute:before
{
	content: '\201C';
}

.qoute:after
{
	content: '\201D';
	margin-left: 5px;
}

.full {
	height: 100%;
	height: 100%;
	position: relative;

}

.logo{
	display: block;
	margin: auto auto;
	height: 110px;
	margin-bottom:80px;
	margin-top: 60px;
}

ion-view.pane, .signin-page, .signup-page, div.list.list-inset{
background-color: #F2F2F2 !important;

}

/*ion-view.pane, .signin-page, .signup-page, div.list.list-inset{
background-color: #EFEFE5 !important;
	
}*/
.signin-page { 
	position: relative;
}

.soothe-btn {
	background-color: #00876F !important;
	border-color: #00876F !important; 
	color: #fff;
	font-weight: bold;	 
}

/*ion-nav-bar {
	background-color: #00876F !important;
}*/

.login .tabs{
	display: none !important;
}

.register { 
	margin-left: 22%;	
}

.register a { 
	font-weight: bold;
	color: #EC6961;
}
::-webkit-input-placeholder {
	color: #555  !important;
}