/* Empty. Add your own CSS if you like */
a { 
	text-decoration: none;
}
.margin {
	position: relative;
	margin-left: 9px;
	margin-right: 9px;
}
.side{
	margin:-10px;
}

.message-note{
	background-color:#999999;
	display:table-cell;
	width:340px;
	height:220px;
	vertical-align: middle;
	font-weight:bold;
	}

.message-note p {
	color: #ffffff;
	margin:0 10px 0 10px;
	text-align:center;
	}